MONGODB_URI=mongodb
PORT=3000

API_MASTER_URL=api
API_BASIC_URL=api

LIMITE_DISPOSITIVOS=1
ADMIN_SECRET=supersecreta

CATEGORIA_0=CATEGORIA

CANALES_BLOQUEADOS_PREMIUM=CANAL1,CANAL2

VERIFY_HOST=un_host
VERIFY_PORT=un_puerto
VERIFY_PATH=/verify
CIPHERTEXT_PAYLOAD={"texto":"algo_secreto"}
P12_PASSWORD=algo_mas_secreto

API_JWT_URL=api
TOKEN_FLOW=generator