MONGODB_URI=mongodb
PORT=3000

API_MASTER_URL=api

LIMITE_DISPOSITIVOS=1
ADMIN_SECRET=supersecreta

CATEGORIA_0=CATEGORIA;

CANALES_BLOQUEADOS_PREMIUM=CANAL1,CANAL2;

MAGMA_URL1=http://magma1.example.com
MAGMA_USER1=usuario1
MAGMA_PASS1=contraseña1

MAGMA_URL2=http://magma2.example.com
MAGMA_USER2=usuario2
MAGMA_PASS2=contraseña2